/* Tampilan Umum */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Tampilan Kontak Info */
.contact-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
}

.contact-info h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-info ul li {
    display: flex;
    align-items: center;
}

.contact-info img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.contact-info a {
    display: flex;
    align-items: center;
}

/* Tampilan Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
